@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Megrim);

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F3F9FA;
}

#root {
  max-width: 80%;
  padding: 10px 20px;
  margin: auto;
}

.navSearch {
  margin-top: 7px;
  padding-left: 7px;
}

.jumbotron {
  background-image: url('./hot-tub.jpg');
  position:absolute;
  height: 70%;
  left:0;
  right:0;
  color: white;
  padding-left: 8%;
}
.subHeader{
  font-family: 'Megrim', cursive;
}

.jumbotron h1 {
  font-size: 13vh;
}

.shares {
  padding-top: 67vh;
}

.editShares {
  padding-top: 8vh;
}

@media (max-width: 600px){
  .jumbotron h1 {
    font-size: 8vh;
  }
}

.productBanner, .manageBanner {
  background-image: url('./sky.jpg');
  position:absolute;
  height: 69%;
  left:0;
  right:0;
  padding-left: 8%;
}

.manageBanner{
  background-image: url('./share.jpg');
  z-index: -1;
}
.manage {
  color: white;
  padding-top:25px;
}

.productBanner h2 {color: #555;}
.productBody { 
  padding-top: 5vh;
  padding-right: 10%;
}
.productBody p { font-size: 1.3em;}

.navbar {
  margin-bottom: 0px;
}
#root > div > div > nav > ul > li > a:hover, 
#root > div > div > nav > ul > li > a:focus {
  background-color: transparent;
}

.productCard {
  margin-bottom: 30px;
}

.addform {padding-bottom: 10px}
.addForm li{
  padding-right: 10px;
  max-width:96%;
}
