@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Megrim);

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F3F9FA;
}

#root {
  max-width: 80%;
  padding: 10px 20px;
  margin: auto;
}

.navSearch {
  margin-top: 7px;
  padding-left: 7px;
}

.jumbotron {
  background-image: url('./hot-tub.jpg');
  background-size: cover;
  position:absolute;
  height: 70%;
  left:0;
  right:0;
  color: white;
  padding-left: 8%;
}
.subHeader{
  font-family: 'Megrim', cursive;
}

.jumbotron h1 {
  font-size: 13vh;
}

.shares {
  padding-top: 67vh;
}

.editShares {
  padding-top: 8vh;
}

@media (max-width: 600px){
  .jumbotron h1 {
    font-size: 8vh;
  }
}

.productBanner, .manageBanner {
  background-image: url('./sky.jpg');
  background-size: cover;
  position:absolute;
  height: 69%;
  left:0;
  right:0;
  padding-left: 8%;
}

.manageBanner{
  background-image: url('./share.jpg');
  z-index: -1;
}
.manage {
  color: white;
  padding-top:25px;
}

.productBanner h2 {color: #555;}
.productBody {
  padding-top: 5vh;
  padding-right: 10%;
}

.productBody p { font-size: 1.3em;}

.productImage {
  height: 500px;
  width: 500px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.productImage span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.productImage img {
  max-width: 500px;
  max-height: 500px;
}
.navbar {
  margin-bottom: 0px;
}
#root > div > div > nav > ul > li > a:hover,
#root > div > div > nav > ul > li > a:focus {
  background-color: transparent;
}

.productCard {
  margin-bottom: 30px;
}

.button {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 4px;
}

.fb-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

.fb-button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 2px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(https://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F3F9FA inset;
}

.addform {padding-bottom: 10px;}
.addForm li{
  padding-right: 10px;
  max-width:96%;
}

.blurb {
  margin: 8px;
}

.profileHeader {
  padding-left: 10px;
}

.profileCards {
  margin-bottom: 20px;
}

.profileLineItems {
  margin-top: -10px;
}

.filterBar {
  margin-bottom: 20px;
}

#map-container {
  margin-top: 60px;
  width: 300px;
  height: 300px;
}

.map-searchbox {
  border: 1px solid transparent;
  borderRadius: 1px;
  boxShadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  boxSizing: border-box;
  MozBoxSizing: border-box;
  fontSize: 14px;
  height: 32px;
  marginTop: 27px;
  outline: none;
  padding: 0 12px;
  textOverflow: ellipses;
  width: 400px;
  color: black;
}

.createListing {
  margin: 8px 5px 0px 0px;
}
